{% extends 'index.html' %}
{% block title %}Analog women{% endblock %}
{% block main %}

			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-pizza" class="tm-gallery-page">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{img8.url}}" alt="Image" class="/static/img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">{{proname8}}</h4>
								<p class="tm-gallery-description">{{prodesc8}}</p>
								<div class="buybutton"><a href="{% url  'buy9' %}" class="buylink" onclick="pictwo()">Buy Now</a></div>
								<p class="tm-gallery-price">{{price8}}</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{img9.url}}" alt="Image" class="/static/img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">{{proname9}}</h4>
								<p class="tm-gallery-description">{{prodesc9}}</p>
								<div class="buybutton"><a href="{% url  'buy10' %}" class="buylink" onclick="pictwo()">Buy Now</a></div>
								<p class="tm-gallery-price">{{price9}}</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
						<img src="{{img10.url}}" alt="Image" class="/static/img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">{{proname10}}</h4>
								<p class="tm-gallery-description">{{prodesc10}}</p>
								<div class="buybutton"><a href="{% url  'buy11' %}" class="buylink" onclick="pictwo()">Buy Now</a></div>
								<p class="tm-gallery-price">{{price10}}</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{img11.url}}" alt="Image" class="/static/img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">{{proname11}}</h4>
								<p class="tm-gallery-description">{{prodesc11}}</p>
								<div class="buybutton"><a href="{% url  'buy12' %}" class="buylink" onclick="pictwo()">Buy Now</a></div>
								<p class="tm-gallery-price">{{price11}}</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{img12.url}}" alt="Image" class="/static/img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">{{proname12}}</h4>
								<p class="tm-gallery-description">{{prodesc12}}</p>
								<div class="buybutton"><a href="{% url  'buy13' %}" class="buylink" onclick="pictwo()">Buy Now</a></div>
								<p class="tm-gallery-price">{{price12}}</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{img13.url}}" alt="Image" class="/static/img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">{{proname13}}</h4>
								<p class="tm-gallery-description">{{prodesc13}}</p>
								<div class="buybutton"><a href="{% url  'buy14' %}" class="buylink" onclick="pictwo()">Buy Now</a></div>
								<p class="tm-gallery-price">{{price13}}</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
						<img src="{{img14.url}}" alt="Image" class="/static/img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">{{proname14}}</h4>
								<p class="tm-gallery-description">{{prodesc14}}</p>
								<div class="buybutton"><a href="{% url  'buy15' %}" class="buylink" onclick="pictwo()">Buy Now</a></div>
								<p class="tm-gallery-price">{{price14}}</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{img15.url}}" alt="Image" class="/static/img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">{{proname15}}</h4>
								<p class="tm-gallery-description">{{prodesc15}}</p>
								<div class="buybutton"><a href="{% url  'buy16' %}" class="buylink" onclick="pictwo()">Buy Now</a></div>
								<p class="tm-gallery-price">{{price15}}</p>
							</figcaption>
						</figure>
					</article>
				</div> <!-- gallery page 1 -->
			</div>

{% endblock %}/static/
