{% extends 'index.html' %}
{% block title %}Login{% endblock %}
{% block main %}


	<div >
		<main>
			<div class="login">
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Login</h2>
				<p class="col-12 text-center">Login to Continue</p>
			</header>
			</div>
			<div class="logintext" >
				<div class="row">
					<div class="col-md-6">
						<form  method="POST" class="tm-contact-form" action="{% url 'loginh'%}" >
							{%csrf_token%}

					        <div class="form-group" >
					          <input type="text" name="loginusername" class="form-control" placeholder="username" id="loginusername"  required="" />
					        </div>

					        <div class="form-group">
					          <input type="password" name="loginpassword" class="form-control" placeholder="password"  id="loginpassword" required="" />
					        </div>

							<div class="form-group tm-d-flex">
								 <button type="submit" class="loginbutton" >
					            Login
					          </button><br>
								<a class=register href="{% url 'registration'%}">Register</a>
								{% for message in messages %}
                					<span>{{ message }}</span>
                    					{% endfor %}
					        </div>
						</form>
					</div>

				</div>
			</div>
        </main>
	</div>



	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/parallax.min.js"></script>
	<script>
		$(document).ready(function(){
			var acc = document.getElementsByClassName("accordion");
			var i;

			for (i = 0; i < acc.length; i++) {
			  acc[i].addEventListener("click", function() {
			    this.classList.toggle("active");
			    var panel = this.nextElementSibling;
			    if (panel.style.maxHeight) {
			      panel.style.maxHeight = null;
			    } else {
			      panel.style.maxHeight = panel.scrollHeight + "px";
			    }
			  });
			}
		});
	</script>
{% endblock %}